<div class="container">
<div class="row">
<div class="mx-auto">
<h1>User info</h1>
<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@user, local:true do |f| %>
  <label for="inputName">Name</label></br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%></br>
  </br>
  <label for="inputImage">Image</label></br>
  <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%></br>
  <%= f.attachment_field :profile_image, placeholder: "Image" %></br>
  </br>
  <label for="inputIntroduction">Introduction</label></br>
  <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction"%></br>
  </br>

    <button class="btn btn-success" type="submit">Update User</button>
<% end %>
</div>
</div>
</div>