<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render partial: "layouts/form", locals: { book: @new_book } %>
    </div>

<div class="col-md-8">
  <h1>Book detail</h1>
  <table class="table table-striped">
    <tr>
      <th><%= link_to user_path(@book.user.id) do %><%= attachment_image_tag @book.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %><% end %></th>
      <th><%= link_to book_path(@book.id) do %><%= @book.title %><% end %></th>
      <th><%= @book.body %></th>
      <% if @book.user == current_user %>
        <th><%= link_to "Edit", edit_book_path(@book) %></th>
        <th><%= link_to "Destroy", book_path(@book), method: :delete %></th>
      <% end %>
      </tr>
    <td><%= link_to user_path(@book.user.id) do %><%= @book.user.name %><% end %></td>
  </table>
  </div>
  </div>
  <div class="row">
    <footer>
      <div class="mx-auto col-12">CopyRight Infratop.inc</div>
    </footer>
</div>